body {
  background-color: black;
  background-image: url(/images/website-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation-name: anime;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 30vh;
}

@keyframes anime {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

ul {
  padding-left: 0;
  list-style: none;
  text-align: right;
}
li {
  margin-right: 1em;
  display: inline;
}
.link1 {
  color: rgb(4, 232, 248);
  text-decoration: none;
  font-size: 1em;
  font-family: cursive;
  font-style: italic;
}
h1 {
  color: rgb(255, 196, 0);
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 5vh;
  padding-left: 5vw;
  letter-spacing: 2px;
}
.link1:hover {
  box-shadow: 8px 8px 8px black;
}

#logo {
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(252, 248, 248);
  font-family: cursive;
  font-weight: bolder;
  text-shadow: black 4px 4px 4px;
  text-transform: uppercase;
}
#main-sec3 {
  display: grid;
  margin-top: 30vh;
}
.visit {
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-style: italic;
  text-shadow: 8px 8px 8px black;
}
.visit:hover {
  box-shadow: 8px 8px 8px black;
  border: black solid 1px;
}

.link2 {
  font-family: cursive;
  text-decoration: none;
  font-style: italic;
  color: white;
  display: block;
  padding-top: 1vh;
}
#footer-sec4 {
  text-align: right;
}
#submit {
  font-weight: bolder;
  font-family: cursive;
}
.link2:hover {
  box-shadow: 8px 8px 8px black;
  border: black solid 1px;
}

.media {
  width: 4vw;
  height: 4vw;
  box-shadow: black 8px 8px 8px;
}
.media:hover {
  transform: scale3d(1.2, 1.2, 0.3);
  transition: 0.5s;
}
#activepage {
  text-decoration: none;
  font-family: cursive;
  color: white;
  border: rgb(13, 199, 255) 1px solid;
  width: 3em;
  border-radius: 3px;
  box-shadow: black 8px 8px 8px;
  font-style: italic;
}
header {
  display: grid;
  grid-template-columns: 25vw 70vw;
  grid-template-rows: 1fr;
  box-shadow: black 8px 8px 8px;
}
main {
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 30vh 1fr 30vh;
}
#moto {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: rgb(247, 239, 239);
  font-weight: bolder;
}
form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25vw 1fr 25vw 10vw;
  margin-top: 7vh;
  margin-bottom: 5vh;
}
#main-sec1 {
  display: grid;
  grid-template-columns: 40vw 50vw;
  grid-template-rows: 1fr;
  padding-left: 2vw;
}
#main-sec2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 10vh;
  background-image: url(/images/wallpaper30.jpg);
  height: 30vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-sec1-div1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer {
  display: grid;
  grid-template-columns: 30vw 30vw 10vw 15vw;
  grid-template-rows: 1fr;
  margin-top: 10vh;
  margin-left: 3vw;
}
#logo-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.lable {
  display: block;
  margin-top: 1em;
  color: white;
  font-style: italic;
  font-family: cursive;
}
p {
  color: white;
  font-family: cursive;
}
legend {
  color: white;
  font-family: cursive;
}
#one {
  font-size: 4em;
}
@media only screen and (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr 50vh;
  }
  header {
    display: block;
  }

  #image1 {
    width: 60vw;
    height: 90vh;
    padding-left: 10vw;
  }

  footer {
    display: block;
    margin-left: 0;
    width: 93vw;
  }
  .media {
    width: 2em;
    height: 2em;
  }
  .link2 {
    width: 50vw;
    text-align: left;
  }
  #footer-sec4 {
    margin-top: 10vh;
  }
  #footer-sec2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  #main-sec1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 50vh;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 30vh 30vh 20vh;
  }
}
